body {
	text-align: center;
	background-image: url(road3.jpg);
	margin-top: 10%;
	text-shadow: 0 0 1px #591616;
}
input {
	text-align: center;

}
.button {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #591616;
}
.button:hover {background-color: #e7e7e7;
}
form {
	display: inline-block;
}
div {
	background-color: #ffffff80;
	display: inline-block;
	padding: 10px;
	box-shadow: 1px 1px 95px 70px #000000b3;
}